body{
    font-size: 16px;
    color: #282828;
    background-color: #e7e7e7;
    font-family: 'Poppins', sans-serif;
}
/** HEADER **/
#header-navbar {
    background-color: #fff;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../Images/Logo-white.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.navbar-brand {
 padding-top: auto;
}

.navbar-brand { /* Designer Name*/
    font-family: 'Besley', serif;
    color: #282828;
    font-size: 2em;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
    text-decoration: none;
}

/** Body **/ 
.hero-img {  /**hero start**/
    float: left;
    max-width: 30%;
    height: auto;
    margin-right: 8%;
    border-radius: 8%;
}

.hero-text {
    font-weight:bold;
    color: #282828;
    font-size: 2rem;
    margin-top: 8%;
}


    /** buttons **/
.btn-primary {
   background: #D82424; 
   border: #D82424;
   align-self: center;
   margin-top: 3%;
   
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #AB1F1F;
    border: #AB1F1F;
}

.btn-secondery {
    background: #D82424; 
    border: #D82424;
    align-self:center;
    margin: 10% 0 10% 0;
    color: #fff;
 }
 
 .btn-secondery:hover, .btn-secondery:focus, .btn-secondery:active, .btn-secondery.active, .open>.dropdown-toggle.btn-primary {
     background-color: #AB1F1F;
     border: #AB1F1F;
     color: #fff;
 }
    /** buttons end **/

 .card {
    border: none;
    background: none;
 }

 .card a:hover, .card a:focus, .card a:link {
    text-decoration: none;
    color: #282828;
    size: 1.2rem;
 }

 p.card-text {
    color: #282828;
    text-align: center;
 }

 h2, .sub-title {
    text-align: center;
    font-weight: bold;
    font-size: 2 rem;
    margin-top: 15%;
    color: #282828;
    margin-bottom: 3%;
}

h3 {
    text-align: center;
    font-weight: bold;
    font-size: 2 rem;
    color: #282828;
    margin-bottom: 2%;
}

.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #282828;
}

/** footer **/
.copyright {
    color: #282828aa;
    font-size: 0.8rem;
    margin: 2%;
    float: left;
}

.claimer {
    float: right;
    font-size: 0.8rem;
    margin: 2%;
    color: #282828aa;
}
/** Footer end **/

.card {
    margin: 3% 0 3% 0;
    width: 100%;
    height: auto;
}

.card-link {
    text-decoration: none;
}

.figure {
    margin-left: auto;
    margin-right: auto;
}
 
.image-container {
    text-align: center;
}

.image-container img {
    margin-right: 2%;
    margin-bottom: 5%;
}
.zoomimg {transition: transform ease-in-out 0.3s;}

.zoomimg:hover {
    transform: scale(1.05);
  }

/* For Full IMAGE ON SCREEN */
#lightbox {
    position: fixed; z-index: 999;
    top: 0; left: 0;
    width: 100vw; height: 100vh;

    background: rgba(0, 0, 0, 0.5);
   
    /* (A3) CENTER IMAGE ON SCREEN */
    display: flex;
    align-items: center;
    justify-content: center;
   
    /* (A4) HIDDEN BY DEFAULT */
    visibility: hidden;
    opacity: 0;
   
    /* (A5) SHOW/HIDE ANIMATION */
    transition: opacity ease 0.4s;
  }
   
  /* (A6) TOGGLE VISIBILITY */
  #lightbox.show {
    visibility: visible;
    opacity: 1;
  }
   
  /* (B) LIGHTBOX IMAGE */
  #lightbox img {
    /* (B1) DIMENSIONS */
    width: 80%;
    height: auto;
   
    /* (B2) IMAGE FIT */
    /* contain | cover | fill | scale-down */
    object-fit: cover;
  }
   