body{
    font-size: 16px;
    color: #282828;
    background-color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
}
/** HEADER **/
#header-navbar {
    background-color: #fff;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../Images/Logo-white.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.navbar-brand {
 padding-top: auto;
}

.navbar-brand { /* Designer Name*/
    font-family: 'Besley', serif;
    color: #282828;
    font-size: 2em;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
    text-decoration: none;
}

/** Body **/ 
.hero-img {  /**hero start**/
    float: left;
    max-width: 30%;
    height: auto;
    margin-right: 8%;
    border-radius: 8%;
}

.hero-text {
    font-weight:bold;
    color: #282828;
    font-size: 2rem;
    margin-top: 8%;
}


    /** buttons **/
.btn-primary {
   background: #D82424; 
   border: #D82424;
   align-self: center;
   margin-top: 3%;
   
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #AB1F1F;
    border: #AB1F1F;
}

.btn-secondery {
    background: #D82424; 
    border: #D82424;
    align-self:center;
    margin: 10% 0 10% 0;
    color: #fff;
 }
 
 .btn-secondery:hover, .btn-secondery:focus, .btn-secondery:active, .btn-secondery.active, .open>.dropdown-toggle.btn-primary {
     background-color: #AB1F1F;
     border: #AB1F1F;
     color: #fff;
 }
    /** buttons end **/

 .card {
    border: none;
    background: none;
 }

 .card a:hover, .card a:focus, .card a:link {
    text-decoration: none;
    color: #282828;
    size: 1.2rem;
 }

 .sub-title {
    text-align: center;
    font-weight: bold;
    font-size: 2 rem;
    margin-top: 15%;
    color: #282828;
}

.page-title {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #282828;
}

/** footer **/
.copyright {
    color: #282828;
    font-size: 0.8rem;
    margin: 2%;
    float: left;
}

.claimer {
    float: right;
    font-size: 0.8rem;
    margin: 2%;
}