body{
    font-size: 16px;
    color: #282828;
    background-color: #cd6e6e;
    font-family: 'Poppins', sans-serif;
}
/** HEADER **/
#header-navbar {
    background-color: #fff;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../Images/Logo-white.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px;
}

.navbar-brand {
 padding-top: auto;
}

.navbar-brand { /* Designer Name*/
    font-family: 'Besley', serif;
    color: #282828;
    font-size: 2em;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
    text-decoration: none;
}
